# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Remplace le "index.php" dans l'url par "home" :
RewriteRule ^home/$   /index.php [L]

# Remplace le "index.php?go=fonc" dans l'url par "home/fonc" :
RewriteRule ^home/fonc$   /index.php?go=fonc [L]

# Remplace le "tarifs.php" dans l'url par "tarifs" :
RewriteRule ^tarifs/$   /tarifs.php [L]